# Ignore node_modules directories
node_modules/
server/node_modules/
client/node_modules/

# Ignore environment files
server/.env
client/.env

# Ignore build directories
client/build/
server/build/

# Ignore logs
*.log
client/logs/
server/logs/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore npm debug files
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore specific files from client
client/.env.local
client/.env.development
client/.env.test
client/.env.production

# Ignore specific files from server
server/.env.local
server/.env.development
server/.env.test
server/.env.production

# Ignore output files from both client and server
*.out
*.log
