body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .footer {
    background-color: #0073e6;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .footer-section {
    width: 100%;
    margin: 10px 0;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
  }
  
  #about-us {
    background-color: #005bb5;
  }
  
  #contact-us {
    background-color: #00408b;
    position: relative;
  }
  
  .separator {
    width: 1px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .footer-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .footer-section p, .footer-section ul, .footer-section li {
    font-size: 16px;
    line-height: 1.6;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section li {
    margin-bottom: 5px;
  }
  
  .footer-bottom {
    background-color: #003766;
    padding: 10px 0;
    text-align: center;
  }
  
  .footer-bottom p {
    margin: 0;
    font-size: 14px;
  }
  